In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as stat
%matplotlib inline

In [14]:
bb = pd.DataFrame()

In [15]:
bb['Character'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
bb['Age'] = [14, 12, 11, 10, 8, 6, 8]

In [16]:
bb

  Character  Age
0      Greg   14
1    Marcia   12
2     Peter   11
3       Jan   10
4     Bobby    8
5     Cindy    6
6    Oliver    8

In [18]:
mean = np.mean(bb['Age'])
mid = np.median(bb['Age'])
mode = stat.mode(bb['Age'])
print(mean)
print(mid)
print(mode)

9.857142857142858
10.0
8

In [19]:
v = np.var(bb['Age'])
std = np.std(bb['Age'], ddof=1)
ste = np.std(bb['Age'], ddof=1)/ np.sqrt(len(bb['Age']))
print(v)
print(std)
print(ste)

6.408163265306122
2.734262327610589
1.0334540197243192

The data with of the Brady Bunch kids, is a simple age data. Looking at the central tendencies and the variance estimates, it would be best to use the mean and the variance. Using the mean for an estimate of central tendency shows us best the middle of the data. But more importantly the estimate of variance is a better way to understand the data. Utilizing variance shows us how far from the average the ages of the Brady Bunch kids are. <br>

In [20]:
bb['Character'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Jessica']
bb['Age'] = [14, 12, 11, 10, 8, 6, 1]

In [23]:
mean = np.mean(bb['Age'])
mid = np.median(bb['Age'])
print(mean)
print(mid)
v = np.var(bb['Age'])
std = np.std(bb['Age'], ddof=1)
ste = np.std(bb['Age'], ddof=1)/ np.sqrt(len(bb['Age']))
print(v)
print(std)
print(ste)

8.857142857142858
10.0
16.122448979591837
4.3369947901195145
1.6392299502912862

With the data set changed to include Jessica and excluding Oliver, we now have an outlier within our data. Since Jessica is very young she pulls the average far below the normal data set shows. With this in mind for an estimate of central tendency, I would use the median. Because the middle number of the data is far more reasonable than the mean or mode. In terms of an estimate of variance, standard error would be best as because the difference from the mean is higher because of Jessica's outlier age.

In [27]:
mag = pd.DataFrame()
mag['Magazines'] = ['TV Guide', 'Entertainment Weekly', 'Pop Culture']
mag['Fans'] = [20, 23, 17]

In [28]:
mag.describe()

       Fans
count   3.0
mean   20.0
std     3.0
min    17.0
25%    18.5
50%    20.0
75%    21.5
max    23.0

We have removed the SciPhi Fanatic datapoint from the data as it is a special interest magazine. With that datapoint removed, we can see that 20\% of the US population had interest in the Brady Bunch. <br>